
body {
  background-color: purple;
}

h1  {
  color: white;
}

.pixel {
  background-color: white;
  height: 14px;
  width: 14px;
  border: 1px solid #bbb;
}

#canvas, #options {
  display: flex;
  flex-wrap: wrap;
}

.paintColor {
  border: 2px solid black;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

#currentColor {
  height: 35px;
  margin-top: 5px;
  border: 1px solid black;
  border-radius: 50%;
  position: absolute;
  left: 25px;
}

.btn {
  margin-top: 5px;
  margin-right: 25px;
}
